[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "3.2.10"
django-debug-toolbar = "*"
pillow = "*"
faker = "*"
selenium = "*"
python-dotenv = "*"
djangorestframework = "*"
django-allauth = "*"
django-unfold = "*"

[dev-packages]

[requires]
python_version = "3.10"