<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    {% if info %}
    <table class="table table-hover">
        <tr>
            <th>Name</th>
            <th>Age</th>
        </tr>
        {% for user in info.users %}
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
        </tr>
        {% endfor %}
    </table>
    {% elif data %}
        {% for d in data %}
        <ul>
            <li>{{d.name}}</li>
            <li>{{d.email}}</li>
            <li>{{d.dob}}</li>
            <!-- <li><img src = "{{d.img}}"</li> -->
            <!-- <li>d.fil</li> -->
            <li>{{d.choice}}</li>
            <li>{{d.message}}</li>
            <li>{{d.date_added}}</li>
         </ul>
        {% endfor %}
    {% elif name %}
    <h1>Hey {{name}}!</h1>
    {% else %}
    <h1>Welcome!</h1>
    {% endif %}
</body>
</html>
